<h1>About Us</h1>
<p>Welcome to the Jungle!</p>
<p>Jungle is a store all about greenery, we offer competetive prices 
on Evergreens, Shrubs, and Trees! Ever wanted to grow your own Jungle? 
We're here to help with all of your plant-growing needs.</p>